<!DOCTYPE  html>
<html>
<body>

<h1>ジャンル別の備品一覧</h1>

<!-------------------- ここから書籍ジャンル ---------------------------->
<%= render layout: 'each_genre', locals: {
  genre:    "books",
  ja_genre: "書籍",
  width:    300 } do %>

  <!-- ここからプログラミングジャンル -->

  <%= render partial: 'each_genre', locals: {
    genre:    "programming",
    ja_genre: "プログラミング",
    width:    150 } %>

  <!-- ここまでプログラミングジャンル -->

  <!-- 通信・ネットワーク -->

  <%= render partial: 'each_genre', locals: {
    genre:    "network",
    ja_genre: "通信・ネットワーク",
    width:    150 } %>

  <!-- ここまで通信・ネットワークジャンル -->

  <!-- マイコン -->

  <%= render partial: 'each_genre', locals: {
    genre:    "micom",
    ja_genre: "マイコン",
    width:    150 } %>

  <!-- マイコン -->

  <!-- ハードウェア -->

  <%= render partial: 'each_genre', locals: {
    genre:    "hard",
    ja_genre: "ハードウェア",
    width:    150 } %>

  <!-- ハードウェア -->

  <!-- ソフトウェア -->

  <%= render partial: 'each_genre', locals: {
    genre:    "soft",
    ja_genre: "ソフトウェア",
    width:    150 } %>

  <!-- ソフトウェア -->

  <!-- 電気・電子 -->

  <%= render partial: 'each_genre', locals: {
    genre:    "elec",
    ja_genre: "電気電子",
    width:    150 } %>

  <!-- 電気・電子 -->

  <!-- 一般科目 -->

  <%= render partial: 'each_genre', locals: {
    genre:    "general",
    ja_genre: "一般科目",
    width:    150 } %>

  <!-- 一般科目 -->

  <!-- その他 -->

  <%= render partial: 'each_genre', locals: {
    genre:    "booksother",
    ja_genre: "その他",
    width:    150 } %>

<% end %>
  <!-- その他 -->

<!-------------------- ここまで書籍ジャンル ---------------------------->

<!-------------------- ここから電子部品ジャンル--------------------------->
<div id="div_1">
  <p><input type="button" value="電子部品" style="WIDTH:300px"
  onClick="document.getElementById('div_2').style.display='block';
  document.getElementById('div_1').style.display='none'"></p>
</div>
<div id="div_2" style="display:none">
  <p><input type="button" value="非表示にする" style="WIDTH:300px"
  onClick="document.getElementById('div_2').style.display='none';
  document.getElementById('div_1').style.display='block'"></p>
  <p>
  ああああああああああああああああ
  </p>
</div>
<!-------------------- ここまで電子部品ジャンル ---------------------------->

<!-------------------- ここから機材ジャンル--------------------------->
<div id="div_1">
  <p><input type="button" value="機材" style="WIDTH:300px"
                                         onClick="document.getElementById('div_2').style.display='block';
                                         document.getElementById('div_1').style.display='none'"></p>
</div>
<div id="div_2" style="display:none">
  <p><input type="button" value="非表示にする" style="WIDTH:300px"
                                                     onClick="document.getElementById('div_2').style.display='none';
                                                     document.getElementById('div_1').style.display='block'"></p>
  <p>
  ああああああああああああああああ
  </p>
</div>
<!-------------------- ここまで機材ジャンル ---------------------------->

<!-------------------- ここからその他ジャンル--------------------------->
<div id="div_1">
  <p><input type="button" value="その他" style="WIDTH:300px"
  onClick="document.getElementById('div_2').style.display='block';
  document.getElementById('div_1').style.display='none'"></p>
</div>
<div id="div_2" style="display:none">
  <p><input type="button" value="非表示にする" style="WIDTH:300px"
  onClick="document.getElementById('div_2').style.display='none';
  document.getElementById('div_1').style.display='block'"></p>
  <p>
  ああああああああああああああああ
  </p>
</div>
<!-------------------- ここまでその他ジャンル ---------------------------->

</body>
</html>
